<ion-view title="Create a Story">
  <ion-content class="has-header">
    <!-- If logged in -->
    <div class="padding">
      <h2>Tell the world.</h2>
    </div>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Test</span>
        <input type="text" placeholder="test">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">The Story</span>
        <textarea placeholder="Your story begins here..." rows="4"></textarea>
      </label>
      <button class="button button-full button-positive">
        Submit
      </button>
    </div>
    <!-- If not logged in -->
  </ion-content>
</ion-view>
